* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(24, 23, 23);
  color: white;
}
.header {
    display: flex;
    padding: 15px 5px;
  &--img {
    width: 200px;
    @media screen and (min-width:768px) {
        width: 400px;
      }
  }
  @media screen and (min-width:768px) {
    justify-content: center;
  }
}
.sectionList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.article {
  width: 250px;
  height: 250px;
  border: 2px solid rgb(50, 194, 115);
  text-align: center;
  margin: auto;
  padding: 5px;
&--link{
    text-decoration: none;
}

  &--img {
    width: 80%;
  }
}

.characterdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &--article {
    width: 300px;
    height: fit-content;
    border: 2px solid rgb(50, 194, 115);
    text-align: center;
    margin: auto;
    padding: 5px;
    position: relative;
    // &__cross{
    // width: 80%;
    // height: 80%;
    // font-size: 100%;
    // position: absolute;
    // border: 1px solid red;
    // text-decoration: none;
    // }
    &__img {
      width: 200px;
    }
  }
  &--btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(40, 56, 40);
  }
}

.fieldset{
    &--btn{
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(40, 56, 40);
    }}