*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   // background-color: rgb(24, 23, 23);
}
.header{
    &--img{
        width: 200px;
    }
}
.sectionList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.article{
    width: 250px;
    height: 250px;
    border: 2px solid rgb(50, 194, 115);
    text-align: center;
margin: auto;
padding: 5px;
    &--img{
        width: 80%;
    }
}