@import "./Reset.scss";

:root {
  background-color: rgb(24, 23, 23);
}
.header {
  display: flex;
  padding: 15px 5px;
  justify-content: center;
  &--img {
    width: 200px;
    @media screen and (min-width: 768px) {
      width: 400px;
    }
  }
}
.sectionList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &--message{
    color: white; 
  }
  &--input{
    font-style: italic;
   
  }
}
.article {
  width: 250px;
  height: 250px;
  border: 2px solid #42b4ca;
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: none;
  color: white;
  &--link {
    text-decoration: none;
    color: inherit;
  }
  &--img {
    width: 80%;
  }
  &:hover {
    background-color: #bfde42;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(24, 23, 23);
  }
}

.characterdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  &--article {
    width: 300px;
    height: fit-content;
    border: 2px solid #42b4ca;
    text-align: center;
    margin: auto;
    padding: 5px;
    position: relative;
    // &__cross{
    // width: 80%;
    // height: 80%;
    // font-size: 100%;
    // position: absolute;
    // border: 1px solid red;
    // text-decoration: none;
    // }
    &__img {
      width: 200px;
      margin: 5px;
    }
    & h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
    & p {
      padding-bottom: 2px;
    }
  }
  &--btn {
    cursor: pointer;
    color: rgb(24, 23, 23);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #42b4ca;
    border: 3px solid #bfde42;
    &:hover {
      background-color: #bfde42;
      border: 3px solid #42b4ca;
    }
  }
}

.fieldset {
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--btn {
    color: rgb(24, 23, 23);
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #42b4ca;
    border: 3px solid #bfde42;
    width: fit-content;
    &:hover {
      background-color: #bfde42;
      border: 3px solid #42b4ca;
    }
  }
}
.inputtext {
  font: 1em "handwriting", cursive, sans-serif;
  border: 2px solid #42b4ca;
  padding: 0 10px;
  margin-left: 10px;
  //width: 80%;
  background: none;
  color: white;
  &:hover{
    border: 2px solid #bfde42;
  }
}
